<div id = 'missing_trail'>
	Can't find a trail? 
	<%= link_to "Tell us about the trail", "#", id: "missing_trail_link" %>
</div>
<div id="missing_trail_info">
	<%= render 'common/missing_trails/new' %>	
</div>