<% provide(:title, "Campground - #{current_user.name}'s Diary") %>
<h2>New Log</h2>

<div class='project_form'>
	<%= form_for @log, url: { action: :create } do |f| -%>

		<%= render 'fields', { f: f } %>	
	  
	<% end -%>
	
</div>

